[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
eel = "*"
tgt = "*"
ipython = "*"
numpy = "*"

[requires]
python_version = "3.7"

[scripts]
open_praat = "python open_praat/gui.py"
